@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

html, body {
    background: #04170d;
    margin: 0;
    padding: 0;
}

main {
    border: 4px solid #a2948d;
    width: 1024px;
    background: #201401 url('images/45-degree-fabric-light.png');
    box-shadow: 4px 4px 10px #000000;
    margin: 20px auto;
    padding: 20px;
    display: flex;
}

section.card {
    display: block;
    width: 400px;
    height: 200px;
    background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
    font-family: 'Philosopher', sans-serif;
    margin-right: 40px;
}

section.card header {
    height: 34px;
    padding: 0 6px;
    background: linear-gradient(white, white 31px, pink 32px, pink 33px);
    font-size: 1.4em;
}

section.card header h1 {
    margin: 0;
    padding: 0;
}

section.card p {
    position: relative;
    top: 5px;
    padding: 0 6px;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: -18px;
}

section.card p a,
section.card p a:link,
section.card p a:hover,
section.card p a:visited {
    color: #000;
    text-decoration: none;
}

.highlight-red {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
            -100deg,
            rgba(255, 20, 0, 0.2),
            rgba(255, 20, 0, 0.7) 95%,
            rgba(255, 20, 0, 0.1)
    );
}



:root {
    --paper-color: #F1EDE9;
    --paper-line: #94ACD4;
}
article {
    max-width: 900px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.top {
    width: 100%;
    height: 50px;
    background: #333;
    border-radius: 5px 5px 0 0;
}

.paper {
    min-height: 60vh;
    padding: 4px 20px;
    background: repeating-linear-gradient(var(--paper-color), var(--paper-color) 29px, var(--paper-line) 29px, var(--paper-line) 30px);
    font-family: 'Philosopher', cursive;
    line-height: 30px;
    outline: 0;
    font-size: 19px;
}

.paper p {
    margin: 0 0 30px 0;
    padding: 0;
}

.paper h1 {
    margin-top: 28px;
    margin-bottom: 32px;
}

.paper p + h1 {
    margin-top: -3px;
}

.paper ul + h1 {
    margin-top: -3px;
}

.paper h1 + ul {
    margin: -1px 0 30px 0;
}